@model Sfw.Racing.DataRepository.Model.Constructor

<div>
    <div class="pull-right label-as-badge label label-success">
        <h4 class="Cost">@Model.Cost.ToString("0.##")</h4> million
    </div>
    <h4 class="ConstructorName">@Html.DisplayFor(model => model.Name)&nbsp;</h4>
    <div>
        @Html.HiddenFor(model => model.ConstructorId)

        <div>
            <img src="@Url.Content("~/"+(@Model.Image == null ? "Content/constructors/unknown.png":Model.Image))" alt="@Model.Name" class="img-responsive ConstructorPic" />
        </div>

    </div>
</div>