@model Sfw.Racing.Web.ViewModel.DriverScoreViewModel

<div>
    <div class="pull-right label-as-badge label label-success">
        <h4 class="Cost">@Model.Driver.Cost.ToString("0.##")</h4> million
    </div>
    @if (Model.DriverPoints != null)
    {
    <div class="pull-right label-as-badge label label-warning">
        <h4 class="Cost">@Model.DriverPoints.TotalPoints.ToString("0")</h4> points
    </div>
    }
    <h4 class="DriverName">@Html.DisplayFor(model => model.Driver.Name)&nbsp;</h4>
    <div class="DriverConstructor">
        @Model.Driver.ConstructorName
    </div>
    <div>
        @Html.HiddenFor(model => model.Driver.ConstructorId)
        

        <div class="thumbnail">
            <img src="@Url.Content("~/"+(@Model.Driver.Image == null ? "Content/drivers/unknown.png":Model.Driver.Image))" alt="@Model.Driver.Name" class="img-responsive DriverPic" />
        </div>

    </div>
</div>