@model Sfw.Racing.DataRepository.Model.Engine

<div>
    <div class="pull-right label-as-badge label label-success">
        <h4 class="Cost">@Model.Cost.ToString("0.##")</h4> million
    </div>
    <h4 class="EngineName">@Html.DisplayFor(model => model.Name)&nbsp;</h4>
    <div>
        @Html.HiddenFor(model => model.EngineId)

        <div>
            <img src="@Url.Content("~/"+(@Model.Image == null ? "Content/engines/unknown.png":Model.Image))" alt="@Model.Name" class="img-responsive EnginePic" />
        </div>

    </div>
</div>