@model Sfw.Racing.Web.ViewModel.PlayerListViewModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>League Table</h2>

@using (Html.BeginForm(Mvc.Player.Actions.Index(), FormMethod.Get))
{
    if (Model.Leagues.Count > 1)
    {
        <div class="col-md-3">
            @Html.DropDownListFor(m => m.SelectedLeagueId, new SelectList(Model.Leagues, "LeagueId", "Name", Model.SelectedLeagueId), new { @class = "form-control LeagueSelection" })
        </div>
    }
    <div class="col-md-3">
        @Html.DropDownListFor(m => m.SelectedRaceId, new SelectList(Model.Races, "RaceId", "Name", Model.SelectedRaceId), new { @class = "form-control RaceSelection" })
    </div>

    <div class="col-md-3">
        <input type="submit" value="Go" class="btn btn-primary" />
    </div>
}

@Html.HiddenFor(m => m.SelectedRaceId)

<div class="clearfix"></div>
&nbsp;
<table id="leaguetable" class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Players[0].Position)
                <small><span class="glyphicon glyphicon-sort"></span></small>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Players[0].TeamName)
                <small><span class="glyphicon glyphicon-sort"></span></small>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Players[0].Name)
                <small><span class="glyphicon glyphicon-sort"></span></small>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Players[0].DriverPoints)
                <small><span class="glyphicon glyphicon-sort"></span></small>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Players[0].ConstructorPoints)
                <small><span class="glyphicon glyphicon-sort"></span></small>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Players[0].EnginePoints)
                <small><span class="glyphicon glyphicon-sort"></span></small>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Players[0].QuestionPoints)
                <small><span class="glyphicon glyphicon-sort"></span></small>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Players[0].Points)
                <small><span class="glyphicon glyphicon-sort"></span></small>
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Players)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Position)
                </td>
                <td>
                    @if (Model.SelectedRaceId > 0)
                    {
                        @Html.ActionLink(item.TeamName, Mvc.Player.RaceDetail(item.TeamName, Model.SelectedRaceId))
                    }
                    else
                    {
                        @Html.ActionLink(item.TeamName, Mvc.Player.Detail(item.TeamName))
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DriverPoints)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ConstructorPoints)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EnginePoints)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.QuestionPoints)
                </td>
                <td>
                    <b>@Html.DisplayFor(modelItem => item.Points)</b>
                </td>
            </tr>
        }
    </tbody>
</table>
