@model Sfw.Racing.Web.ViewModel.PlayerListViewModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>League Table</h2>

@using (Html.BeginForm(Mvc.Player.Actions.Index(), FormMethod.Get))
{
    if (Model.Leagues.Count > 1)
    {
        <div class="col-md-3">
            @Html.DropDownListFor(m => m.SelectedLeagueId, new SelectList(Model.Leagues, "LeagueId", "Name", Model.SelectedLeagueId), new { @class = "form-control LeagueSelection" })
        </div>

        <div class="col-md-3">
            <input type="submit" value="Go" class="btn btn-primary" />
        </div>
    }
}

<div class="clearfix"></div>
&nbsp;
<table id="leaguetable" class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Players[0].TeamName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Players[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Players[0].Points)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Players[0].BudgetSpent)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Players)
        {
            <tr>
                <td>
                    @Html.ActionLink(item.TeamName, Mvc.Player.Detail(item.TeamName))
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Points)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BudgetSpent)
                </td>
            </tr>
        }
    </tbody>
</table>
