@using DevTrends.MvcDonutCaching;
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SFW Racing League</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    @Scripts.Render("~/bundles/jquery")
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("SFW F1 Racing League", Mvc.Home.Index(), new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", Mvc.Home.Index())</li>
                    <li>@Html.ActionLink("Rules", Mvc.Home.About())</li>
                    <li>@Html.ActionLink("Your Team", Mvc.Player.Edit())</li>
                    <li>@Html.ActionLink("League Table", Mvc.Player.Index())</li>
                </ul>
                @Html.Action("LoginStatus", "Home", excludeFromParentCache: true)
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - SFW Ltd.</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/Site")
    @Scripts.Render("~/bundles/tablesorter")
    @RenderSection("scripts", required: false)
</body>
</html>
